*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.less linguist-vendored
server/vessel/resources/assets/* linguist-vendored
server/vessel/vendor/* linguist-vendored
server/http.old/* linguist-vendored
