@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

div#header {
	top: 0;
	height: 60px;
	background-color: #1c0042;
	color: #fff;
	padding: 4px;
}

div#header a {
	color: #fff;
}

div#app_menu {
	height: 30px;
	background-color: #ddd;
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #eee;
}

table {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

div#content-section {
	padding: 20px;
}

div#app_logo {
	float: left;
	background-color: #fff;
	border-radius: 4px;
	width: 140px;
}

div#app_title {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

div.app_menu_link {
	color: #313131;
	font-size: 14px;
	display: inline-block;
	margin-right: 5px;
}

.app_menu_link a {
	color: #313131;
}

div#login_form {
	width: 50%;
	border: 1px dashed #eee;
	padding: 4px;
}

input[type="text"], input[type="password"] {
	height: 40px;
	padding: 2px;
	font-size: 16px;
	color: #313131;
}

input[type="submit"] {
	height: 40px;
	padding: 2px;
	font-size: 16px;
	color: #313131;
	background-color: #eee;
	width: 150px;
}

div.table {
	display: table;
}

div.table-row {
	display: table-row;
}

div.table-cell {
	display: table-cell;
	padding: 8px;
}

div.list-head {
	background-color: #daedd9;
	color: #313131;
	margin-bottom: 8px;
	padding: 4px;
}

tr.list-head {
	background-color: #daedd9;
	color: #313131;
}

th.list-head {
	text-align: left;
	font-weight: bold;
	padding: 8px;
}

td.list-cell {
	padding: 8px;
	text-align: left;
	border: 1px solid #eee;
}

div.info-box {
	padding: 8px;
	color: #313131;
	border: 1px dashed #eee;
	width: 50%;
}

div.info-box-error {
	padding: 8px;
	color: red;
	border: 1px dashed red;
	width: 50%;
}

div.content-box-sm {
	padding: 4px;
	width: 25%;
	border: 1px dashed #daedd9;
}

.content-box-sm a {
	color: #313131;
}

div.content-box-med {
	padding: 8px;
	width: 65%;
	border: 1px dashed #daedd9;
}

div.setting-category {
	padding: 8px;
	height: 40px;
	width: 100%;
	background-color: #eee;
	font-size: 16px;
}

div.setting-row {
	margin-bottom: 4px;
	height: 60px;
	clear: both;
}

div#user_greeting {
	float: right;
	margin: 8px;
}
