<html>
	<head>
		<title>Vessel Enterprise Backup Server - {{title}}</title>
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>
		<link rel="stylesheet" type="text/css" href="css/theme.css">
		<script type="text/javascript" src="scripts/jquery-3.3.1.min.js"></script>
	</head>
	<body>

	<div id="header">
		<div id="app_logo"><a href="index.php"><img src="images/logo.png" width="120" height="58"></a></div>
		<div id="app_title"><h2>Enterprise Backup Server</h2></div>
	</div>

	<div id="app_menu">

		<div class="app_menu_link"><a href="index.php">Home</a></div>
		<div class="app_menu_link"><a href="users.php">Users</a></div>
		<div class="app_menu_link"><a href="machines.php">Machines</a></div>
		<div class="app_menu_link"><a href="files.php">Files</a></div>
		<div class="app_menu_link"><a href="settings.php">Settings</a></div>
		<div class="app_menu_link"><a href="storage.php">Storage</a></div>
		<div class="app_menu_link"><a href="stats.php">Stats</a></div>
		<div class="app_menu_link"><a href="#">Deployment</a></div>
		<div class="app_menu_link"><a href="#">Documentation</a></div>

	</div>

	<!-- Spacer div -->
	<div style="margin-top: 20px"></div>

	<div id="content-section">
