<html>
	<head>
		<title>Backup Enterprise Pro - {{title}}</title>
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>
		<link rel="stylesheet" type="text/css" href="css/theme.css">
		<script type="text/javascript" src="scripts/jquery-3.3.1.min.js"></script>
	</head>
	<body>
	
	<div id="header">
		<div id="app_title"><h2>Backup Enterprise Pro</h2></div>
	</div>
	
	<div id="app_menu">
		
		<div class="app_menu_link"><a href="index.php">Home</a></div>
		<div class="app_menu_link"><a href="users.php">Users</a></div>
		<div class="app_menu_link"><a href="machines.php">Machines</a></div>
		<div class="app_menu_link"><a href="files.php">Files</a></div>
		<div class="app_menu_link"><a href="settings.php">Settings</a></div>
		<div class="app_menu_link"><a href="stats.php">Stats</a></div>
		
	</div>