
<table cellpadding="4" cellspacing="0" width="100%">
  <tr class="list-head">
    <th class="list-head">Name</th>
    <th class="list-head">Operating System</th>
    <th class="list-head">IP Address</th>
    <th class="list-head">Domain</th>
    <th class="list-head">Client Version</th>
    <th class="list-head">Last Check In</th>
    <th class="list-head">Last Backup</th>
  </tr>

<?php
  foreach($machines as $machine) {
    echo "<td class=\"list-cell\"><a href=\"machine.php?id=" . $machine['machine_id'] . "&action=edit\">" . $machine['name'] . "</a></td>";
    echo "<td class=\"list-cell\">" . $machine['os'] . "</td>";
    echo "<td class=\"list-cell\">" . $machine['ip_address'] . "</td>";
    echo "<td class=\"list-cell\">" . $machine['domain'] . "</td>";
    echo "<td class=\"list-cell\">" . $machine['client_version'] . "</td>";
    echo "<td class=\"list-cell\">" . $machine['last_check_in'] . "</td>";
    echo "<td class=\"list-cell\">" . $machine['last_backup'] . "</td>";
  }
?>

</table>
