<div id="user_registration">
  <form action="register.php" method="POST">
    <div>
      <h2>User Registration</h2>
    </div>
    <div class="table">
      <div class="table-row">
        <div class="table-cell"><label for="user_name">Username</label></div>
        <div class="table-cell"><input type="text" size="35" name="user_name" id="user_name"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="password">Password</label></div>
        <div class="table-cell"><input type="password" size="35" name="password" id="password"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="password">Re-enter Password</label></div>
        <div class="table-cell"><input type="password" size="35" name="password_check" id="password_check"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="email">Email</label></div>
        <div class="table-cell"><input type="text" size="35" name="email" id="email"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="first_name">First Name</label></div>
        <div class="table-cell"><input type="text" size="35" name="first_name" id="first_name"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="last_name">Last Name</label></div>
        <div class="table-cell"><input type="text" size="35" name="last_name" id="last_name"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="title">Job Title</label></div>
        <div class="table-cell"><input type="text" size="35" name="title" id="title"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="office">Office</label></div>
        <div class="table-cell"><input type="text" size="35" name="office" id="office"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="address">Address</label></div>
        <div class="table-cell"><textarea rows="5" cols="70" size="100" name="address" id="address"></textarea></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="city">City</label></div>
        <div class="table-cell"><input type="text" size="35" name="city" id="city"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="state">State</label></div>
        <div class="table-cell"><input type="text" size="35" name="state" id="state"></div>
      </div>
      <div class="table-row">
        <div class="table-cell"><label for="zip">Zip</label></div>
        <div class="table-cell"><input type="text" size="35" name="zip" id="zip"></div>
      </div>
    </div>
    <div class="table">
      <div class="table-row">
        <div class="table-cell"><input type="submit" value="Register"></div>
      </div>
    </div>
    <input type="hidden" name="action" value="register">
    <input type="hidden" name="http_referer" value="<?=$refererUrl?>">
  </form>
</div>
