<?php
  //Get the HTTP referer
  $httpReferer = $_POST['http_referer'];
  if ( !$httpReferer || strpos($httpReferer,"logout.php") )
    $httpReferer = "index.php";
?>
<script type="text/javascript">
  setTimeout( function() {
    window.location = "<?=$httpReferer?>";
  }, 3000 );
</script>

<?php
  include 'generic_message.tmpl';
?>
