
<div class="content-box-sm" style="float: left">
  <div class="list-head">
    <h2>Setting Categories</h2>
  </div>
  <?php
    foreach ( $categories as $category ) {
      echo "<div class=\"setting-category\"><a href=\"settings.php?category=" . $category['type'] . "\">" . $category['type'] . "</a></div>";
    }
  ?>
</div>

<div class="content-box-med" style="float: left; margin-left: 20px">
  <div class="list-head">
    <h2><?=$selectedCategory?> Settings</h2>
  </div>
  <form action="settings.php" method="POST">
    <div>
      <?php
        foreach ( $settings as $setting ) {
          echo "<div class=\"setting-row\">";
          echo "<div style=\"float: left; width: 60%; word-wrap: break-word\" class=\"\"><b>" . $setting['display_name'] . "</b><br/>" . $setting['description'] . "</div>";
          echo "<div style=\"float: right;\"><input type=\"text\" name=\"" . $setting['name'] . "\" value=\"" . $setting['value'] . "\" style=\"width: 350px\"></div>";
          echo "</div>";
        }
      ?>
      <div style="clear: both; width: 100%; padding: 4px; text-align: center">
        <input type="submit" value="Update Settings" style=\"margin-top: 20px;\">
      </div>
    </div>
  </form>
</div>
